<div class="pgrid-box">

<article class="post-box blog-item">
    <div class="post-inner">
        <div class="entry-media">
<!--            <div class="post-cat"><span class="posted-in"><a-->
<!--                    href="{% url 'support:post-detail-page' slug=post.slug %}"-->
<!--                    rel="category tag">Design</a> <a-->
<!--                    href="{% url 'support:post-detail-page' slug=post.slug %}"-->
<!--                    rel="category tag">Development</a></span>-->
<!--            </div>-->
<!--            <a href="{% url 'support:post-detail-page' slug=post.slug %}">-->
<!--                <img width="601" height="520"-->
<!--                     src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20601%20520'%3E%3C/svg%3E"-->
<!--                     class="attachment-engitech-slider-post-thumbnail size-engitech-slider-post-thumbnail wp-post-image"-->
<!--                     alt=""-->
<!--                     data-lazy-src="{{post.image.url}}"/>-->
<!--                <noscript>-->
<!--                    <img width="601" height="520"-->
<!--                               src="{{post.image.url}}"-->
<!--                               class="attachment-engitech-slider-post-thumbnail size-engitech-slider-post-thumbnail wp-post-image"-->
<!--                               alt=""/>-->
<!--                </noscript>-->
<!--            </a>-->
        </div>
        <div class="inner-post">
            <div class="entry-header">
                <div class="entry-meta">
<!--                    <span class="posted-on">_ <a-->
<!--                            href="../plan-your-project-with-your-software/index.html"-->
<!--                            rel="bookmark">-->
<!--                        <time class="entry-date published"-->
<!--                            datetime="2019-11-21T04:46:58+00:00">{{post.date}}</time></a></span>-->
<!--                    <span-->
<!--                            class="byline">_-->
<!--&lt;!&ndash;                    <a class="url fn n" href="../author/admin/index.html">{{post.author}}</a>&ndash;&gt;-->
<!--                    </span>-->

                </div><!-- .entry-meta -->
<!--                <h3 class="entry-title"><a-->
<!--                        href="{% url 'support:post-detail-page' slug=post.slug %}"-->
<!--                        rel="bookmark">{{post.title}}</a>-->
<!--                </h3>-->
            </div><!-- .entry-header -->
            <div class="btn-readmore">
                <a href="{% url 'support:post-detail-page' slug=post.slug %}"><i
                        class="flaticon-right-arrow-1"></i>READ
                    MORE</a>
            </div>
        </div>
    </div>
</article>

</div>