.elementor-2496 .elementor-element.elementor-element-b797fcb:not(.elementor-motion-effects-element-type-background), .elementor-2496 .elementor-element.elementor-element-b797fcb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url(../../../uploads/sites/4/2020/03/banner-home3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
